/* .friendMessage {
    display: flex;
    flex-direction: row-reverse;
    
}

.friendImageAndText {
    background-color:darkblue ;
    color: white;
    border-radius: 15px;
    display: inline-block;
    padding: 10px 10px;
    display: flex;
    margin-right: 10px;
    

}

.friendImageAndText img {
    width: 50px; 
    height: 50px;
    
    
    
}

.friendText {
    background-color: darkblue;
    color: white;
    border-radius: 15px;
    display: inline-block;
    flex-direction: column;
}

.friendText:after {

}

.friendName {
    text-align: right;
    font-weight: bold;
}

.friendMessageText {

}

.friendTime {

}

s.friendMessageImg {
    width: 50px; 
    height: 50px;
    
}

.friendImg {
    width: 50px; 
    height: 50px;
    
} */



.friendMessage {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;

}

.friendImageAndText {
    background-color: aqua;
    display: flex;
   
}

.friendImageAndText img {
    height: 50px;
    width: 50px;
}

.friendText {
  
    color: white;
    border-radius: 15px;
   
}

.friendText:after {}

.friendName {}

.friendMessageText {}

.friendTime {}